<!-- <p>register works!</p> -->

<form>
    <h4 style="margin-top: 2em;">{{ signupTitle }}</h4>
    <div class="form-group">
        <label for="username" style="margin-top: 2em;">Username</label>
        <input class="form-control" type="username" id="username" name="username" placeholder="Enter username here..." [(ngModel)]="user.username">
    </div>

    <div class="form-group">
        <label for="password" style="margin-top: 2em;">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter password here..." [(ngModel)]="user.password">
        <small id="passwordHelpInline" class="text-muted">
            Must be minimum 9 characters long.
        </small>
    </div>

    <div class="form-group">
        <label for="confirmPassword" style="margin-top: 1em;">Confirm Password</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Please confirm password...." [(ngModel)]="user.confirmPassword">
    </div>
    <button class="btn btn-primary" (click)="SignupClick()" style="margin-top: 1em;">Signup</button>
</form>

<div style="margin-top: 3em;"><a routerLink="/login" > Already registered? Sign in to continue😎</a></div>


