<!-- 
<app-register *ngIf="!buttonWasClicked"
(signupEvent)="signupAttempted($event)">
</app-register>
<app-login *ngIf="buttonWasClicked"
(loginEvent)="loginAttempted($event)">
</app-login>
<br> -->

<router-outlet></router-outlet>