<!-- <p>login works!</p>
 -->
<form>
    <h4 style="margin-top: 2em;">{{ loginTitle }}</h4>
    <div class="form-group">
        <label for="username" style="margin-top: 2em;">Username</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Enter username here..." [(ngModel)]="userLogin.username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password here...." [(ngModel)]="userLogin.password">
    </div>  
    <button class="btn btn-primary" (click)="loginClick()" style="margin-top: 1em;">Login</button>
</form>

<div style="margin-top: 3em;"><a routerLink="/register" > Don't have an account?🐱‍👤Register now😎</a></div>
